<beans:beans xmlns="http://www.springframework.org/schema/security"
		xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
							http://www.springframework.org/schema/security
							http://www.springframework.org/schema/security/spring-security-3.1.xsd">

 	 <http  auto-config="true"  use-expressions="true">
 	 	<form-login /> 	 	 	 
 	 	
 	 	<intercept-url pattern="/login.xhtml" access="permitAll" />
 	 	<intercept-url pattern="/index.xhtml" access="permitAll" />
 	 	<intercept-url pattern="/resources/**" access="permitAll" />
 	 	<intercept-url pattern="/javax.faces.resource/**" access="permitAll" />
 	 	<intercept-url pattern="/adm/permissoes/**" access="hasRole('PAPEL_ADMIN')" />
 	 	<intercept-url pattern="/adm/usuario/**" access="hasRole('PAPEL_ADMIN')" />
 	 	<intercept-url pattern="/adm/tipoconta/**" access="hasRole('PAPEL_ADMIN')" /> 	 	
	    <intercept-url pattern="/**" access="hasAnyRole('PAPEL_NADA','PAPEL_USUARIO','PAPEL_ADMIN')" />  
	  </http>
 	
 	
	<authentication-manager>
		<authentication-provider
			user-service-ref="userDetailsService" />		 
	</authentication-manager>

</beans:beans>
